<div>
    <h2 translate="aktivingatlanApp.contract.home.title">Contracts</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="contract.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="aktivingatlanApp.contract.home.createLabel">Create a new Contract</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="idNo"><span translate="aktivingatlanApp.contract.idNo">IdNo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="exclusive"><span translate="aktivingatlanApp.contract.exclusive">Exclusive</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="startDate"><span translate="aktivingatlanApp.contract.startDate">StartDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="endDate"><span translate="aktivingatlanApp.contract.endDate">EndDate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="note"><span translate="aktivingatlanApp.contract.note">Note</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="propertyCode"><span translate="aktivingatlanApp.contract.property">property</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contract in contracts track by contract.id">
                    <td><a ui-sref="contract.detail({id:contract.id})">{{contract.id}}</a></td>
                    <td>{{contract.idNo}}</td>
                    <td>{{contract.exclusive}}</td>
                        <td>{{contract.startDate | date:'mediumDate'}}</td>
                        <td>{{contract.endDate | date:'mediumDate'}}</td>
                    <td>{{contract.note}}</td>
                    <td>
                        <a ui-sref="property.detail({id:contract.propertyId})">{{contract.propertyCode}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="contract.detail({id:contract.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="contract.edit({id:contract.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="contract.delete({id:contract.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
