<div>
    <h2 translate="aktivingatlanApp.apartment.home.title">Apartments</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="apartment.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="aktivingatlanApp.apartment.home.createLabel">Create a new Apartment</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bed"><span translate="aktivingatlanApp.apartment.bed">Bed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bathroom"><span translate="aktivingatlanApp.apartment.bathroom">Bathroom</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="toilet"><span translate="aktivingatlanApp.apartment.toilet">Toilet</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rentHuf"><span translate="aktivingatlanApp.apartment.rentHuf">RentHuf</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rentEur"><span translate="aktivingatlanApp.apartment.rentEur">RentEur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rentPeakHuf"><span translate="aktivingatlanApp.apartment.rentPeakHuf">RentPeakHuf</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rentPeakEur"><span translate="aktivingatlanApp.apartment.rentPeakEur">RentPeakEur</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descriptionHu"><span translate="aktivingatlanApp.apartment.descriptionHu">DescriptionHu</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descriptionEn"><span translate="aktivingatlanApp.apartment.descriptionEn">DescriptionEn</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descriptionDe"><span translate="aktivingatlanApp.apartment.descriptionDe">DescriptionDe</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="property.code"><span translate="aktivingatlanApp.apartment.property">property</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="apartment in apartments track by apartment.id">
                    <td><a ui-sref="apartment.detail({id:apartment.id})">{{apartment.id}}</a></td>
                    <td>{{apartment.bed}}</td>
                    <td>{{apartment.bathroom}}</td>
                    <td>{{apartment.toilet}}</td>
                    <td>{{apartment.rentHuf}}</td>
                    <td>{{apartment.rentEur}}</td>
                    <td>{{apartment.rentPeakHuf}}</td>
                    <td>{{apartment.rentPeakEur}}</td>
                    <td>{{apartment.descriptionHu}}</td>
                    <td>{{apartment.descriptionEn}}</td>
                    <td>{{apartment.descriptionDe}}</td>
                    <td>
                        <a ui-sref="property.detail({id:apartment.property.id})">{{apartment.property.code}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="apartment.detail({id:apartment.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="apartment.edit({id:apartment.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="apartment.delete({id:apartment.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
