<div>
    <h2 translate="aktivingatlanApp.photo.home.title">Photos</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="photo.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="aktivingatlanApp.photo.home.createLabel">Create a new Photo</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="aktivingatlanApp.photo.header">Header</th>
                    <th translate="aktivingatlanApp.photo.descriptionHu">DescriptionHu</th>
                    <th translate="aktivingatlanApp.photo.descriptionEn">DescriptionEn</th>
                    <th translate="aktivingatlanApp.photo.descriptionDe">DescriptionDe</th>
                    <th translate="aktivingatlanApp.photo.filename">Filename</th>
                    <th translate="aktivingatlanApp.photo.property">property</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="photo in photos track by photo.id">
                    <td><a ui-sref="photo.detail({id:photo.id})">{{photo.id}}</a></td>
                    <td>{{photo.header}}</td>
                    <td>{{photo.descriptionHu}}</td>
                    <td>{{photo.descriptionEn}}</td>
                    <td>{{photo.descriptionDe}}</td>
                    <td>{{photo.filename}}</td>
                    <td>
                        <a ui-sref="property.detail({id:photo.propertyId})">{{photo.propertyCode}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="photo.detail({id:photo.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="photo.edit({id:photo.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="photo.delete({id:photo.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
