
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
		<h4 class="modal-title" id="myPropertyLabel"
			translate="aktivingatlanApp.property.home.createOrEditLabel">Create
			or edit a Property</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
		<uib-tabset>
			<uib-tab heading="Általános">
			<br>
			<div class="row">
				<div class="col-lg-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">Alapadatok</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group has-feedback col-sm-4"
									ng-class="{ 'has-error': editForm.code.$invalid && editForm.code.$touched, 'has-success': editForm.code.$valid && editForm.code.$touched}">
									<label for="field_code" class="control-label"> <span
										translate="aktivingatlanApp.property.code">Code</span> <span
										class="danger"
										ng-show="editForm.code.$dirty && editForm.code.$error.unique">
											- foglalt </span>
									</label> <input type="text" class="form-control input-sm" name="code"
										id="field_code" ng-model="property.code"
										ng-model-options="{ updateOn: 'default blur'}"
										unique-property-code required> <span
										class="glyphicon glyphicon-ok form-control-feedback"
										aria-hidden="true"
										ng-show="editForm.code.$valid && editForm.code.$touched"></span>
									<span class="glyphicon glyphicon-remove form-control-feedback"
										aria-hidden="true"
										ng-show="editForm.code.$invalid && editForm.code.$touched"></span>
								</div>
								<div class="form-group col-sm-1">
									<label translate="aktivingatlanApp.property.active"
										for="field_active">Active</label> <input type="checkbox"
										class="form-control input-sm" name="active" id="field_active"
										ng-model="property.active">
	
								</div>
								<div class="form-group col-sm-1">
									<label translate="aktivingatlanApp.property.featured"
										for="field_featured">Featured</label> <input type="checkbox"
										class="form-control input-sm" name="featured"
										id="field_featured" ng-model="property.featured">
	
								</div>
								<div class="form-group col-sm-3">
									<label translate="aktivingatlanApp.property.category"
										for="field_category">category</label> <select
										class="form-control input-sm" id="field_category"
										name="category" ng-model="property.categoryId"
										ng-options="category.id as category.nameHu for category in categorys">
										<option value=""></option>
									</select>
	
								</div>
								<div class="form-group col-sm-3">
									<label translate="aktivingatlanApp.property.user"
										for="field_user">user</label> <select
										class="form-control input-sm" id="field_user" name="user"
										ng-model="property.userId"
										ng-options="user.id as user.login for user in users">
										<option value=""></option>
									</select>
	
								</div>
	
							</div>
							<div class="row">
								<div class="form-group col-sm-10">
									<label translate="aktivingatlanApp.property.feature"
										for="field_feature">feature</label>
									<ui-select multiple ng-model="property.features"
										theme="bootstrap" class="form-control" id="field_feature">
										<ui-select-match>{{$item.nameHu}}</ui-select-match>
										<ui-select-choices
											repeat="feature in features | filter:{nameHu: $select.search} | filter:filterAlreadyAddedFeatures ">
											<div ng-bind-html="feature.nameHu | highlight: $select.search"></div>
										</ui-select-choices> 
									</ui-select>
								</div>
								<div class="form-group col-sm-2">
									<label translate="aktivingatlanApp.property.furnished"
										for="field_furnished">Furnished</label> <input type="checkbox"
										class="form-control input-sm" name="furnished"
										id="field_furnished" ng-model="property.furnished">
	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">Cím</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-sm-4">
									<label translate="aktivingatlanApp.property.city"
										for="field_city">city</label> <input type="text"
										class="form-control input-sm" id="field_city" name="city"
										ng-model="property.cityName"
										uib-typeahead="city as formatCityName(city) for city in findCity($viewValue)"
										uib-typeahead-on-select="onCitySelect($item, $model, $label)"
										uib-typeahead-editable="false" uib-typeahead-select-on-exact="true"
										uib-typeahead-select-on-blur="true" uib-typeahead-min-length="3"
										uib-typeahead-wait-ms="100">
								</div>
								<div class="form-group col-sm-8">
									<label translate="aktivingatlanApp.property.address1"
										for="field_address1">Address1</label> <input type="text"
										class="form-control input-sm" name="address1"
										id="field_address1" ng-model="property.address1">
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-4">
									<label translate="aktivingatlanApp.property.pracelNumber"
										for="field_pracelNumber">PracelNumber</label> <input
										type="text" class="form-control input-sm" name="pracelNumber"
										id="field_pracelNumber" ng-model="property.pracelNumber">
								</div>
								<div class="form-group col-sm-8">
									<label translate="aktivingatlanApp.property.address2"
										for="field_address2">Address2</label> <input type="text"
										class="form-control input-sm" name="address2"
										id="field_address2" ng-model="property.address2">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">Leírás</h4>
						</div>
						<div class="panel-body">
	
							<div class="row">
								<div class="form-group col-sm-4">
									<label translate="aktivingatlanApp.property.descriptionHu"
										for="field_descriptionHu">DescriptionHu</label>
									<textarea rows="5" class="form-control input-sm"
										name="descriptionHu" id="field_descriptionHu"
										ng-model="property.descriptionHu"></textarea>
								</div>
								<div class="form-group col-sm-4">
									<label translate="aktivingatlanApp.property.descriptionEn"
										for="field_descriptionEn">DescriptionEn</label>
									<textarea rows="5" class="form-control input-sm"
										name="descriptionEn" id="field_descriptionEn"
										ng-model="property.descriptionEn"></textarea>
								</div>
								<div class="form-group col-sm-4">
									<label translate="aktivingatlanApp.property.descriptionDe"
										for="field_descriptionDe">DescriptionDe</label>
									<textarea rows="5" class="form-control input-sm"
										name="descriptionDe" id="field_descriptionDe"
										ng-model="property.descriptionDe"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 class="panel-title">Méret</h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-group col-sm-4">
									<label translate="aktivingatlanApp.property.parcelArea"
										for="field_parcelArea">ParcelArea</label> <input type="number"
										class="form-control input-sm" name="parcelArea"
										id="field_parcelArea" ng-model="property.parcelArea">
	
								</div>
								<div class="form-group col-sm-4">
									<label translate="aktivingatlanApp.property.floorArea"
										for="field_floorArea">FloorArea</label> <input type="number"
										class="form-control input-sm" name="floorArea"
										id="field_floorArea" ng-model="property.floorArea">
	
								</div>
								<div class="form-group col-sm-4">
									<label translate="aktivingatlanApp.property.floor"
										for="field_floor">Floor</label> <input type="number"
										class="form-control input-sm" name="floor" id="field_floor"
										ng-model="property.floor">
	
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-2">
									<label translate="aktivingatlanApp.property.room"
										for="field_room">Room</label> <input type="number"
										class="form-control input-sm" name="room" id="field_room"
										ng-model="property.room">
	
								</div>
								<div class="form-group col-sm-2">
									<label translate="aktivingatlanApp.property.halfRoom"
										for="field_halfRoom">HalfRoom</label> <input type="number"
										class="form-control input-sm" name="halfRoom"
										id="field_halfRoom" ng-model="property.halfRoom">
	
								</div>
								<div class="form-group col-sm-2">
									<label translate="aktivingatlanApp.property.kitchen"
										for="field_kitchen">Kitchen</label> <input type="number"
										class="form-control input-sm" name="kitchen" id="field_kitchen"
										ng-model="property.kitchen">
	
								</div>
								<div class="form-group col-sm-2">
									<label translate="aktivingatlanApp.property.livingroom"
										for="field_livingroom">Livingroom</label> <input type="number"
										class="form-control input-sm" name="livingroom"
										id="field_livingroom" ng-model="property.livingroom">
	
								</div>
								<div class="form-group col-sm-2">
									<label translate="aktivingatlanApp.property.bathroom"
										for="field_bathroom">Bathroom</label> <input type="number"
										class="form-control input-sm" name="bathroom"
										id="field_bathroom" ng-model="property.bathroom">
	
								</div>
								<div class="form-group col-sm-2">
									<label translate="aktivingatlanApp.property.toilet"
										for="field_toilet">Toilet</label> <input type="number"
										class="form-control input-sm" name="toilet" id="field_toilet"
										ng-model="property.toilet">
	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">Ár</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label translate="aktivingatlanApp.property.forSale"
									for="field_forSale">ForSale</label> <input type="checkbox"
									class="form-control input-sm" name="forSale" id="field_forSale"
									ng-model="property.forSale">
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group input-group">
										<input type="number"
											class="form-control input-sm" name="saleHuf"
											id="field_saleHuf" ng-model="property.saleHuf"
											ng-disabled="!property.forSale" translate translate-attr-placeholder="aktivingatlanApp.property.saleHuf">
										<span class="input-group-addon">MFt</span>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group input-group">
										<input type="number"
											class="form-control input-sm" name="saleEur"
											id="field_saleEur" ng-model="property.saleEur"
											ng-disabled="!property.forSale" translate translate-attr-placeholder="aktivingatlanApp.property.saleEur">
										<span class="input-group-addon">€</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label translate="aktivingatlanApp.property.forRent"
									for="field_forRent">ForRent</label> <input type="checkbox"
									class="form-control input-sm" name="forRent" id="field_forRent"
									ng-model="property.forRent">
							</div>
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group input-group">
										<input type="number"
											class="form-control input-sm" name="rentHuf"
											id="field_rentHuf" ng-model="property.rentHuf"
											ng-disabled="!property.forRent" translate translate-attr-placeholder="aktivingatlanApp.property.rentHuf">
											<span class="input-group-addon">MFt</span>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group input-group">
										<input type="number"
											class="form-control input-sm" name="rentEur"
											id="field_rentEur" ng-model="property.rentEur"
											ng-disabled="!property.forRent" translate translate-attr-placeholder="aktivingatlanApp.property.rentEur">
											<span class="input-group-addon">€</span>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group input-group">
										<input
											type="number" class="form-control input-sm" name="rentPeakHuf"
											id="field_rentPeakHuf" ng-model="property.rentPeakHuf"
											ng-disabled="!property.forRent" translate translate-attr-placeholder="aktivingatlanApp.property.rentPeakHuf">
											<span class="input-group-addon">MFt</span>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group input-group">
										<input
											type="number" class="form-control input-sm" name="rentPeakEur"
											id="field_rentPeakEur" ng-model="property.rentPeakEur"
											ng-disabled="!property.forRent" translate translate-attr-placeholder="aktivingatlanApp.property.rentPeakEur">
											<span class="input-group-addon">€</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label translate="aktivingatlanApp.property.forMediumTerm"
									for="field_forMediumTerm">ForMediumTerm</label> <input
									type="checkbox" class="form-control input-sm"
									name="forMediumTerm" id="field_forMediumTerm"
									ng-model="property.forMediumTerm">
	
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group input-group">
										<input
											type="number" class="form-control input-sm"
											name="mediumTermHuf" id="field_mediumTermHuf"
											ng-model="property.mediumTermHuf"
											ng-disabled="!property.forMediumTerm" translate translate-attr-placeholder="aktivingatlanApp.property.mediumTermHuf">
											<span class="input-group-addon">MFt</span>
	
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group input-group">
										<input
											type="number" class="form-control input-sm"
											name="mediumTermEur" id="field_mediumTermEur"
											ng-model="property.mediumTermEur"
											ng-disabled="!property.forMediumTerm" translate translate-attr-placeholder="aktivingatlanApp.property.mediumTermEur">
											<span class="input-group-addon">€</span>
	
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label translate="aktivingatlanApp.property.forLongTerm"
									for="field_forLongTerm">ForLongTerm</label> <input
									type="checkbox" class="form-control input-sm" name="forLongTerm"
									id="field_forLongTerm" ng-model="property.forLongTerm">
	
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group input-group">
										<input
											type="number" class="form-control input-sm" name="longTermHuf"
											id="field_longTermHuf" ng-model="property.longTermHuf"
											ng-disabled="!property.forLongTerm" translate translate-attr-placeholder="aktivingatlanApp.property.longTermHuf">
											<span class="input-group-addon">MFt</span>
	
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group input-group">
										<input
											type="number" class="form-control input-sm" name="longTermEur"
											id="field_longTermEur" ng-model="property.longTermEur"
											ng-disabled="!property.forLongTerm" translate translate-attr-placeholder="aktivingatlanApp.property.longTermEur">
											<span class="input-group-addon">€</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</uib-tab>
			<uib-tab heading="Képek">
			<br>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">Képek</h4>
				</div>
				<div class="panel-body">
					<div class="btn btn-primary" ngf-select="uploadFiles($files)" ng-model="files" ngf-multiple="true">Kiválaszt...</div>
					<div ng-repeat="file in files"> 
						<progressbar animate="false" value="file.progress" type="success" ng-show="file.progress<100"><b>{{file.name}} {{file.progress}}%</b></progressbar>
					</div>
					<hr>
					<div ng-repeat="photo in property.photos">
						<div class="row">
							<div class="form-group col-sm-3">
								<a href="http://res.cloudinary.com/aktivingatlan/image/upload/{{photo.filename}}.jpg" target="_blank"><img ng-src="http://res.cloudinary.com/aktivingatlan/image/upload/w_200/{{photo.filename}}.jpg" alt="{{photo.id}}"></a>
							</div>
							<div class="form-group col-sm-3">
							<label translate="aktivingatlanApp.property.descriptionHu"
									for="field_photoDescriptionHu">DescriptionHu</label>
								<textarea rows="5" class="form-control input-sm"
									name="descriptionHu" id="field_photoDescriptionHu"
									ng-model="photo.descriptionHu"></textarea>
							</div>
							<div class="form-group col-sm-3">
								<label translate="aktivingatlanApp.property.descriptionEn"
									for="field_photoDescriptionEn">DescriptionEn</label>
								<textarea rows="5" class="form-control input-sm"
									name="descriptionEn" id="field_photoDescriptionEn"
									ng-model="photo.descriptionEn"></textarea>
							</div>
							<div class="form-group col-sm-3">
								<label translate="aktivingatlanApp.property.descriptionDe"
									for="field_photoDescriptionDe">DescriptionDe</label>
								<textarea rows="5" class="form-control input-sm"
									name="descriptionDe" id="field_photoDescriptionDe"
									ng-model="photo.descriptionDe"></textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
			</uib-tab>
			<uib-tab heading="Apartmanok" disable="true"></uib-tab>
			<uib-tab heading="Tulajdonosok és szerződések" disable="true"></uib-tab>
			<uib-tab heading="Megtekintési nyiltkozatok" disable="true"></uib-tab>	
		</uib-tabset>	

    </div>
    <div class="modal-footer">
	    <button type="submit"
	            onclick="window.history.back()"
	            class="btn btn-info">
	        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
	    </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
