* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important; }

body {
  background-color: #eeeeee;
  background-image: url("../images/bg.png"); }

.aktiv-top-bar {
  min-height: 40px; }

.aktiv-address {
  margin-top: 6px;
  margin-bottom: 6px; }

.aktiv-top-menu {
  background-color: #9CA903;
  z-index: 5000;
  width: 100%; }

.aktiv-top-menu .navbar-brand {
  padding: 0;
  margin: 30px 0 0 0; }

#aktiv-brand {
  display: inline-block;
  width: 300px;
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666;
  font-size: 24px;
  margin: 12px;
  padding: 6px;
  letter-spacing: 4px;
  font-weight: bold; }

#language-selector .active a {
  color: #888; }

.ui-scrollpoint {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #888888; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px; }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #888888; }

.navbar-default {
  background-color: #9CA903;
  border: none; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #888888;
  color: #fff; }

.navbar {
  margin-bottom: 0px; }

.main-carousel {
  width: 1000px;
  -webkit-box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.51);
  box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.51);
  z-index: -1; }

.main-carousel .carousel-caption {
  background-color: rgba(255, 255, 255, 0.33);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  left: inherit;
  right: inherit; }

.main-carousel .carousel-caption h3 {
  margin-top: 4px;
  margin-bottom: 4px; }

.main-carousel .carousel-control,
.main-carousel .carousel-indicators {
  display: none; }

.featured-container {
  background-color: #9CA903;
  padding-top: 12px;
  padding-bottom: 12px; }

.featured {
  border: 3px solid #bbbbbb;
  padding: 12px;
  background-image: url("../images/bg-condensed.png"); }

.footer {
  font-size: 16px;
  font-weight: bold;
  margin: 12px;
  letter-spacing: 1px; }

.footer a.partner-link {
  color: #9CA903;
  font-size: 20px;
  letter-spacing: 3px; }

.bottom-align-text {
  position: absolute;
  bottom: 0;
  right: 0; }

.listing {
  background-color: #ccc; }

.listing .wrapper {
  margin-bottom: 24px;
  margin-right: 12px;
  padding: 12px;
  border: 3px solid #aaa;
  background-color: #bbb; }

.search-box {
  background-color: #aaa;
  padding-bottom: 16px;
  margin-bottom: 24px; }

.search-box input,
.search-box textarea,
.search-box select {
  background-color: #999;
  border: 1px solid #666;
  color: #fff; }

.search-box .btn-success {
  background-color: #9CA903;
  border: 1px solid #9CA903; }

.listing img {
  -webkit-box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.51);
  box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.51); }

.listing .city {
  text-align: center;
  padding: 24px;
  background-color: #aaa;
  font-weight: bold;
  letter-spacing: 2px; }

.listing .code {
  color: #9CA903;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 12px; }

.listing .dl-horizontal {
  padding-left: 12px; }

.listing .dl-horizontal dt {
  text-align: left; }

.listing .details {
  color: #000;
  letter-spacing: 2px;
  font-size: 14px; }
