
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myOwnershipLabel" translate="aktivingatlanApp.ownership.home.createOrEditLabel">Create or edit a Ownership</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>

        <div class="form-group">
            <label class="control-label" translate="aktivingatlanApp.ownership.note" for="field_note">Note</label>
            <input type="text" class="form-control" name="note" id="field_note"
                    ng-model="ownership.note"
                     />
        </div>

        <div class="form-group">
            <label translate="aktivingatlanApp.ownership.property" for="field_property">property</label>
            <i ng-show="loadingProperties" class="glyphicon glyphicon-refresh"></i>
            <span ng-show="noPropertyResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</span>
            
            <input type="text" class="form-control" id="field_property" name="property" ng-model="ownership.propertyCode"
            	ng-readonly="!propertyEditable"
            	typeahead="property as formatPropertyName(property) for property in findPropertyByCode($viewValue)"
            	typeahead-on-select="onPropertySelect($item, $model, $label)"
            	typeahead-editable="false"
            	typeahead-select-on-exact="true"
            	typeahead-select-on-blur="true"
            	typeahead-min-length="3"
            	typeahead-wait-ms="100"
            	typeahead-loading="loadingProperties" 
            	typeahead-no-results="noPropertyResults">
           
        </div>
        <div class="form-group">
            <label translate="aktivingatlanApp.ownership.client" for="field_client">client</label>
            <i ng-show="loadingClients" class="glyphicon glyphicon-refresh"></i>
            <span ng-show="noClientResults"><i class="glyphicon glyphicon-remove"></i> No Results Found</span>
            
            <input type="text" class="form-control" id="field_client" name="client" ng-model="ownership.clientName"
            	ng-readonly="!clientEditable"
            	typeahead="client as formatClientName(client) for client in findClient($viewValue)"
            	typeahead-on-select="onClientSelect($item, $model, $label)"
            	typeahead-editable="false"
            	typeahead-select-on-exact="true"
            	typeahead-select-on-blur="true"
            	typeahead-min-length="3"
            	typeahead-wait-ms="100"
            	typeahead-loading="loadingClients" 
            	typeahead-no-results="noClientResults">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
