
<div>
    <h2><span translate="aktivingatlanApp.client.detail.title">Client</span> {{client.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.email">Email</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.email}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.phone1">Phone1</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.phone1}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.phone2">Phone2</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.phone2}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.address1">Address1</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.address1}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.address2">Address2</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.address2}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.idNo">IdNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.idNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.note">Note</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.note}}</span>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-repeat="ownership in client.ownerships">
        	<div>{{ownership.property.code}}</div>
        	<div>{{ownership.property.descriptionHu}}</div>
        	<div>{{ownership.property.city.name}}</div>
        	<div>{{ownership.note}}</div>
        </div>
        <div ng-repeat="contract in client.contracts">
        	<div>{{contract.idNo}}</div>
        	<div>{{contract.exclusive}}</div>
        	<div>{{contract.startDate}}</div>
        	<div>{{contract.endDate}}</div>
        	<div>{{contract.property.code}}</div>
        	<div>{{contract.property.descriptionHu}}</div>
        	<div>{{contract.property.city.name}}</div>
        </div>
        <div ng-repeat="statement in client.statements">
        	<div>{{statement.date}}
        	<div>{{statement.property.code}}</div>
        </div>

    </div>

    <a href back-button class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </a>
</div>
