
<div>
    <h2><span translate="aktivingatlanApp.client.detail.title">Client</span> {{client.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.email">Email</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.email}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.phone1">Phone1</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.phone1}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.phone2">Phone2</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.phone2}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.address1">Address1</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.address1}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.address2">Address2</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.address2}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.idNo">IdNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.idNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.note">Note</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.note}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div class="row">
        <div class="col-lg-4">
        	<h3>
				<button class="btn btn-success btn-sm" ui-sref="client.detail.ownershipNew({clientId:client.id})">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
        		<span translate="aktivingatlanApp.ownership.home.title">Ownerships</span>
        	</h3>
        	<hr>
            <div ng-repeat="ownership in client.ownerships">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="http://lorempixel.com/100/100/city/">
                    </div>
                    <div class="col-lg-8">
                        <div><a ng-href="#/property/{{ownership.propertyId}}" popover="{{ownership.propertyDescriptionHu}}" popover-trigger="mouseenter">{{ownership.propertyCode}}</a> {{ownership.propertyCityName}}</div>
                        <div>{{ownership.note}}</div>
                        <br>
                        <div  class="btn-group" role="group" aria-label="Edit">
	                        <button type="submit"
	                                ui-sref="client.detail.ownershipEdit({clientId:client.id, ownershipId:ownership.id})"
	                                class="btn btn-primary btn-sm">
	                            <span class="glyphicon glyphicon-pencil"></span>
	                        </button>
	                        <button type="submit"
	                                ng-click="deleteOwnership(ownership.id)"
	                                class="btn btn-danger btn-sm">
	                            <span class="glyphicon glyphicon-remove-circle"></span>
	                        </button>
						</div>
                    </div>
                </div>
                <hr>
            </div>
        </div>                
        
        <div class="col-lg-4">
        	<h3 translate="aktivingatlanApp.contract.home.title">Contracts</h3>
        	<hr>
            <div ng-repeat="contract in client.contracts">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="http://lorempixel.com/100/100/city/">
                    </div>
                    <div class="col-lg-8">
                        <div><a ng-href="#/contract/{{contract.id}}" popover="{{contract.note}}" popover-trigger="mouseenter">{{contract.idNo}}</a></div>
                        <div>{{contract.exclusive ? 'kizárólagos' : 'nem kizárólagos'}}</div>
                        <div>{{contract.startDate}} - {{contract.endDate}}</div>
                        <div><a href="#" popover="{{contract.propertyDescriptionHu}}" popover-trigger="mouseenter">{{contract.propertyCode}}</a> {{contract.propertyCityName}}</div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        
        <div class="col-lg-4">
        	<h3 translate="aktivingatlanApp.statement.home.title">Statements</h3>
        	<hr>
            <div ng-repeat="statement in client.statements">
                <div ng-repeat="property in statement.propertys">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="http://lorempixel.com/100/100/city/">
                        </div>
                        <div class="col-lg-8">
                        	<div>{{statement.date}}</div>
                            <div><a popover="{{property.descriptionHu}}" popover-trigger="mouseenter">{{property.code}}</a> {{property.cityName}}</div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    

    <a ui-sref="client" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </a>
    
    <div class="modal fade" id="deleteOwnershipConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteOwnershipForm" ng-submit="confirmDeleteOwnership(ownership.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clearOwnership()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="aktivingatlanApp.ownership.delete.question" translate-values="{id: '[{{ownership.note}}]'}">Are you sure you want to delete this Ownership?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearOwnership()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
