
<div>
    <h2><span translate="aktivingatlanApp.client.detail.title">Client</span> {{client.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.email">Email</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.email}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.phone1">Phone1</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.phone1}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.phone2">Phone2</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.phone2}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.address1">Address1</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.address1}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.address2">Address2</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.address2}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.idNo">IdNo</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.idNo}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="aktivingatlanApp.client.note">Note</span>
                </td>
                <td>
                    <span class="form-control-static">{{client.note}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <div class="row">
        <div class="col-lg-4">
        	<h3><span translate="aktivingatlanApp.ownership.home.title">Ownerships</span></h3>
        	<hr>
            <div ng-repeat="ownership in client.ownerships">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="http://lorempixel.com/100/100/city/">
                    </div>
                    <div class="col-lg-8">
                        <div><a href="#" popover="{{ownership.property.descriptionHu}}" popover-trigger="mouseenter">{{ownership.property.code}}</a> {{ownership.property.city.name}}</div>
                        <div>{{ownership.note}}</div>
                        <button class="btn btn-primary btn-sm">Edit</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>                
        
        <div class="col-lg-4">
        	<h3 translate="aktivingatlanApp.contract.home.title">Contracts</h3>
        	<hr>
            <div ng-repeat="contract in client.contracts">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="http://lorempixel.com/100/100/city/">
                    </div>
                    <div class="col-lg-8">
                        <div><a href="#" popover="{{contract.note}}" popover-trigger="mouseenter">{{contract.idNo}}</a></div>
                        <div>{{contract.exclusive ? 'kizárólagos' : 'nem kizárólagos'}}</div>
                        <div>{{contract.startDate}} - {{contract.endDate}}</div>
                        <div><a href="#" popover="{{contract.property.descriptionHu}}" popover-trigger="mouseenter">{{contract.property.code}}</a> {{contract.property.city.name}}</div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        
        <div class="col-lg-4">
        	<h3 translate="aktivingatlanApp.statement.home.title">Statements</h3>
        	<hr>
            <div ng-repeat="statement in client.statements">
                <div ng-repeat="property in statement.propertys">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="http://lorempixel.com/100/100/city/">
                        </div>
                        <div class="col-lg-8">
                        	<div>{{statement.date}}</div>
                            <div><a href="#" popover="{{property.descriptionHu}}" popover-trigger="mouseenter">{{property.code}}</a> {{property.city.name}}</div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    

    <a href back-button class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </a>
</div>
