@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

body {
	background-color:#eeeeee;
	background-image: url("../images/bg.png");
}

.aktiv-top-bar {
	min-height: 40px;
}

.aktiv-address {
	margin-top: 6px;
	margin-bottom: 6px;
}

.aktiv-top-menu {
	background-color:#9CA903;
	z-index: 5000;
	width:100%;
	.navbar-brand {
		padding: 0;
		margin: 30px 0 0 0;
	}
}

#aktiv-brand {
	display: inline-block;
	width: 300px;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	font-size: 24px;
	margin: 12px;
	padding: 6px;
	letter-spacing: 4px;
	font-weight: bold;
}

#language-selector .active a {
	color: #888;
}

.ui-scrollpoint {
	position:fixed;
    top:0;
    width:100%;
    z-index:100;
}

.navbar-default {
  .navbar-nav > {
    li > a {
      color: #fff;
      font-size: 16px;
      &:hover, &:focus {
        color: #fff;
        background-color: #888888;
      }
    }
    .active > a {
      background-color: #888888;
      color: #fff;
      &:hover, &:focus {
        background-color: #888888;
        color: #fff;
      }
    }
  }
  background-color: #9CA903;
  border: none;
}

.navbar {
  margin-bottom: 0px;
}

.main-carousel {
  max-width: 1000px;
  -webkit-box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.51);
  box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.51);
  z-index: -1;
  .carousel-caption {
    background-color: rgba(255, 255, 255, 0.33);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    left: inherit;
    right: inherit;
    h3 {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
  .carousel-control, .carousel-indicators {
    display: none;
  }
  .carousel-inner {
  	background-color: #000;
    .item {
      opacity: 0;
      -webkit-transition-property: opacity;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
      -webkit-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      -webkit-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
       -webkit-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
    }
}

.featured-container {
	background-color: #9CA903;
	padding-top: 12px;
	padding-bottom: 12px;
	.featured {
		border: 3px solid #bbbbbb;
		padding: 6px;
		margin: 12px;
		background-image: url("../images/bg-condensed.png");
		.link {
			position: absolute;
			bottom: -4px;
			right: 16px;
		}
	}
}

@media (min-width: $screen-lg) {
	.featured-container {
		.featured {
			.details {
				height: 154px;
				p {
					height: 138px;
					display: block;
					display: -webkit-box;
					-webkit-line-clamp: 7;
	  				-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-bottom: 0;
				}
			}
		}
	}
}

@media (min-width: $screen-md) {
	.featured-container {
		.featured {
			.photo {
				max-height: 100%;
			}
		}
	}
}
@media (min-width: $screen-sm) {
.featured-container {
		.featured {
			.details {
				padding-left: 0;
				max-height: 100%;
			}
		}
	}
}
@media (min-width: $screen-xs) and (max-width: $screen-sm) {
	.featured-container {
		.featured {
			.details {
				padding-top: 16px;
			}
		}
	}
}


.footer {
	font-size: 16px;
	font-weight: bold;
	margin: 12px;
	letter-spacing: 1px;
}

.footer a.partner-link {
	color: #9CA903;
	font-size: 20px;
	letter-spacing: 3px;
}

.bottom-align-text {
    position: absolute;
    bottom: 6px;
    right: 6px;
  }
  
.listing {
	background-color: #ccc;
}

.listing .wrapper {
	margin-bottom: 24px;
	margin-right: 12px;
	padding: 12px;
	border: 3px solid #aaa;
	background-color: #bbb;
}

.search-box {
	background-color: #aaa;
	padding-bottom: 16px;
	margin-bottom: 24px;
}

.search-box input, 
.search-box textarea,
.search-box select {
    background-color:#999;
    border: 1px solid #666;
    color: #fff;
}

.search-box .btn-success {
    background-color:#9CA903;
    border: 1px solid #9CA903;
}

.listing img {
	-webkit-box-shadow: 10px 10px 21px -2px rgba(0,0,0,0.51);
	-moz-box-shadow: 10px 10px 21px -2px rgba(0,0,0,0.51);
	box-shadow: 10px 10px 21px -2px rgba(0,0,0,0.51);
}

.listing .city {
	text-align: center;
	padding: 24px;
	background-color: #aaa;
	font-weight:bold;
	letter-spacing:2px;
}

.listing .code {
	color:#9CA903;
	font-weight:bold;
	letter-spacing:2px;
	font-size: 20px;
	padding: 12px;
}

.listing .dl-horizontal {
	padding-left: 12px;
}

.listing .dl-horizontal dt {
	text-align: left;
}

.listing .details {
	color: #000;
	letter-spacing: 2px;
	font-size: 14px;
}