<div>
    <h2 translate="aktivingatlanApp.category.home.title">Categorys</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="category.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="aktivingatlanApp.category.home.createLabel">Create a new Category</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteCategoryConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(category.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="aktivingatlanApp.category.delete.question" translate-values="{id: '{{category.id}}'}">Are you sure you want to delete this Category?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="aktivingatlanApp.category.nameHu">NameHu</th>
                    <th translate="aktivingatlanApp.category.nameEn">NameEn</th>
                    <th translate="aktivingatlanApp.category.nameDe">NameDe</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="category in categorys track by category.id">
                    <td><a ui-sref="category.detail({id:category.id})">{{category.id}}</a></td>
                    <td>{{category.nameHu}}</td>
                    <td>{{category.nameEn}}</td>
                    <td>{{category.nameDe}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="category.detail({id:category.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="category.edit({id:category.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(category.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
