<div class="aktiv-top-bar" id="aktiv-top">
	<div class="container">
		<div class="subheader">
			<div class="pull-right aktiv-address">
				8230 Balatonfüred, Csokonai utca 1. <a
					href="mailto:info@aktivingatlan.com" title="Send email">info@aktivingatlan.com</a>
			</div>
			<div class="clearfix"></div>
			<div id="language-selector" ui-sref-active="active"
				ng-controller="LanguageController" class="pull-right">
				<span active-menu="{{language}}" ng-repeat="language in languages">
					<a href="" ng-click="changeLanguage(language)">{{language |
						findLanguageFromKey}}</a> <span ng-hide="$last"> | </span>
				</span>
			</div>
			<div class="clearfix"></div>
			<div class="text-center">
				<div id="aktiv-brand">AKTÍV INGATLAN</div>
			</div>
		</div>
	</div>
</div>
<nav class="navbar navbar-default" role="navigation" ui-scrollpoint>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span translate="global.menu.home">HOME</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="listing" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span translate="global.menu.forSale">SALE</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="forRent" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span translate="global.menu.forRent">RENT</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="maintenance" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span translate="global.menu.maintenance">MAINTENANCE</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="about" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span translate="global.menu.about">ABOUT</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="contact" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span translate="global.menu.contact">CONTACT</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="press" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span translate="global.menu.press">PRESS</span>
                    </a>
                </li>

                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="property" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.property">property</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="client" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.client">client</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="apartment" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.apartment">apartment</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="category" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.category">category</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="city" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.city">city</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="contract" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.contract">contract</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="feature" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.feature">feature</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="ownership" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.ownership">ownership</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="photo" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.photo">photo</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="statement" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.statement">statement</span></a></li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="global.menu.account.logout">Sign out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="global.menu.account.login">Sign in</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-user"></span>
                            &#xA0;<span translate="global.menu.admin.user-management">User management</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                        <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.admin.apidocs">API</span></a></li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>